.dashboard-menuSwitchTreePipeLayout {
    position: absolute;
    z-index: 960;
    top: 350px;
    right: 40px;
    width: 225px;
    height: 200px;
    display: block;
    background-image: url('../../RiskImg/background.png');
}
.dashboard-menuSwitchTreePipeBorder {
    border-bottom: 1px dashed #000;
    width: 205px;
}