.FactsSurveyTable-container{
    display: flex;
    position: absolute;
    top: 120px;
    width: calc(~'100% - 400px');
    height: 700px;
    left: 390px;

    .FactsSurveyTable-button-layout {
        position: absolute;
        z-index: 960;
        top: 20px;
        left: 20px;
    }
}
.FactsSurveyTable-Data-container{
    display: flex;
    position: absolute;
    // width: calc(~'100% - 44px');
    left: 10px;
    top: 10px;
    width: 665px;
    height: 265px;

    .FactsSurveyTable-r-main{
    flex:1 1 auto;
    position: relative;
    overflow: hidden;
    }

    .FactsSurveyTable-foldBtn {
        position: absolute;
        width: 64px;
        height: 64px;
        text-align: center;
        cursor: pointer;
        z-index: 500;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        // border:1px solid rgba(97,245,171,1);
    }

    .FactsSurveyTable-menuPanel {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 265px;
        transition: all 0.8s;
        z-index: 980;
        // background:rgba(19,34,36,0.8);
        // background-image: url("./FactsSurveyImg/bottom1.png");
        // background-repeat: no-repeat;
  
        .FactsSurveyTable-menuBackground {
            background-image: url("./FactsSurveyImg/bottom1.png");
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            // background: rgba(19,34,36,1);
            opacity: 0.7;
        }
        .FactsSurveyTable-aside {
            position: absolute;
            left: 24px;
            width: calc(~'100% - 24px');;
            height: 100%;
            color: #333;
            z-index: 999;
            overflow: auto;

            .FactsSurveyTable-MenuNameLayout { 
                display: inline-block;
                margin-top: 18px;
                width: 100%;
            }
             .FactsSurveyTable-MenuName {
                width: 65px;
                height: 17px;
                font-size: 16px;
                font-family: Microsoft YaHei;
                font-weight: bold;
                color: #61f5ab;
                position: absolute;
                left: 12px;
                top: 18px;
            }
            .FactsSurveyTable-QueryName {
                width: 35px;
                height: 17px;
                font-size: 16px;
                font-family: Microsoft YaHei;
                font-weight: bold;
                color: #61f5ab;
                position: absolute;
                /* left: 255px; */
                top: 15px;
                right: 100px;
            }
            .FactsSurveyTable-CancleQueryName {
                width: 35px;
                height: 17px;
                font-size: 16px;
                font-family: Microsoft YaHei;
                font-weight: bold;
                color: #61f5ab;
                position: absolute;
                /* left: 255px; */
                top: 15px;
                right: 60px;
            }
            .FactsSurveyTable-MenuHideButton {
                float: right;
                cursor: pointer;
                margin-right: 23px;
            }
            .FactsSurveyTable-asideTree {
                margin-top: 10px;
                // margin-left: 10px;
            }
            .FactsSurveyTable-StatusButton {
                display: inline-block;
                width: 100%;
            }
            .FactsSurveyTable-button-statusSel {
                width:72px;
                height:32px;
                border:1px solid rgba(60,248,247,1);
                background-image: url("./FactsSurveyImg/3selection.png");
                display: inline-block;
                opacity: 0.8;
            }
            .FactsSurveyTable-button-status {
                width:72px;
                height:32px;
                background-image: url("./FactsSurveyImg/3levitate.png");
                display: inline-block;
                // border:1px solid rgba(60,248,247,1);
                opacity: 0.8;
            }
            .FactsSurveyTable-button-status-textSel {
                width:72px;
                height:32px;
                font-size:14px;
                font-family:Microsoft YaHei;
                font-weight:400;
                color:rgba(102,255,179,1);
                line-height:32px;
                text-align: center;
                display: block;
            }
            .FactsSurveyTable-button-status-text {
                width:72px;
                height:32px;
                font-size:14px;
                font-family:Microsoft YaHei;
                font-weight:400;
                color:rgba(161,182,194,1);
                line-height:32px;
                text-align: center;
                display: block;
            }
            .FactsSurveyTable-tree-layout {
                display: block;
                width: 220px;
            }
            .ant-tree li .ant-tree-node-content-wrapper {
                color:rgba(102,255,179,1);
            }
            span.ant-tree-switcher.ant-tree-switcher_close {
                color:rgba(102,255,179,1);
            }
            span.ant-tree-switcher.ant-tree-switcher_open {
                color:rgba(102,255,179,1);
            }
            // span.ant-tree-checkbox-inner {
            //     background-color: rgba(102,255,179,1);
            //     border-color: rgba(102,255,179,1);
            // }
        }
    }
}