.add-seedling {
    .label-block {
        display: block;
        .ant-form-item-label {
            display: block;
            text-align: left;
        }
        p {
            width: 100px;
            text-align: center;
        }
    }
}