.ant-tree-title-edit :global(a span){
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
/*
:global(.ant-tree){
    width: 240px;
    background: rgb(245, 245, 245);
}*/
