.menuSwitch-menuSwitchLeftLayout {
    position: absolute;
    z-index: 960;
    top: 40px;
    left: 40px;
}

.menuSwitch-menuButtonLayout {
    margin-bottom: 10px;
    display: block;
}
.menuSwitch-secondMenuLayout {
    position: absolute;
    z-index: 960;
    top: 40px;
    left: 140px;
    background-color: rgba(255,255,255, 0.9);
    width: 180px;
    height: 360px;
    box-shadow: 10px 10px 10px rgba(102,102,102,0.1);
}

.menuSwitch-secondMenuButtonSelLayout {
    margin-bottom: 10px;
    display: block;
    background-image: url("./MenuImg/buttonBacSelect.png");
    background-size: 100% 100%;
    width:140px;
    height:48px;
    line-height: 48px;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    text-indent: 19px;
    font-weight: 520;
    font-family: "Microsoft YaHei";
}

.menuSwitch-secondMenuButtonUnSelLayout {
    margin-bottom: 10px;
    display: block;
    background-image: url("./MenuImg/buttonBac.png");
    background-size: 100% 100%;
    width:140px;
    height:48px;
    line-height: 48px;
    color:#666666;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    text-indent: 19px;
    font-weight: 520;
    font-family: "Microsoft YaHei";
}

.menuSwitch-menuSwitchRightLayout {
    position: absolute;
    z-index: 960;
    top: 40px;
    right: 40px;
    width: 76px;
    // height: 438px;
    height: 298px;
    display: block;
    background-image: url("./RightMeunImg/backGround.png");
}

.menuSwitch-rightMenuMapFoucsButtonUnSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/focus.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
}
.menuSwitch-rightMenuMapFoucsButtonSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/focusSel.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
    background-color:white;
}

.menuSwitch-rightMenuTreeMessButtonUnSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/treeMess.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
}

.menuSwitch-rightMenuTreeMessButtonSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/treeMessSelect.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
    background-color:white;
}

.menuSwitch-rightMenuTreeMessButtonCantSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/treeMessCantSelect.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
    background-color:white;
}


.menuSwitch-rightMenuTileLayer2ButtonUnSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/tileTreeLayerBasic.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
}
.menuSwitch-rightMenuTileLayer2ButtonSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/tileTreeLayerBasicSel.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
    background-color:white;
}

.menuSwitch-rightMenuAreameasureButtonUnSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/areaMeasure.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
}
.menuSwitch-rightMenuAreameasureButtonSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/areaMeasureSel.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
    background-color:white;
}

.menuSwitch-rightMenuAreaButtonUnSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/area.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
}
.menuSwitch-rightMenuAreaButtonSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/areaSel.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
    background-color:white;
}

.menuSwitch-rightMenuFullscreenButtonUnSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/fullScreen.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
}
.menuSwitch-rightMenuFullscreenButtonSelLayout {
    // margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    background-image: url("./RightMeunImg/fullScreenSel.png");
    background-size: 100% 100%;
    width:44px;
    height:44px;
    margin-left: 16px;
    background-color:white;
}