.web {
    .ant-modal-content {
        position: relative;
        background-color: #fff0;
        border: 0;
        border-radius: 4px;
        background-clip: padding-box;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        // opacity: 0.1;
    }
    .ant-modal-body {
        padding: 0px;
        font-size: 14px;
        line-height: 1.5;
        word-wrap: break-word;
    }
    .adoptTreeMess-background{
        background-image: url('./TreeAdoptImg/background.png');
        background-size: 900px 450px;
        height: 450px;
        // padding-left: 66px;
        // padding-top: 50px;
        // padding-right: 50px;
    }
    .adoptTreeMess-modal-closeImg {
        cursor: pointer;
        padding-left: 837px;
        padding-top: 40px;
    }
    // 结缘信息
    .adoptTreeMess-modal-top-layout {
        display:flex;
        flex-wrap:wrap;
    }
    // 结缘时间
    .adoptTreeMess-modal-top-adopt {
        text-align: center;
        padding-top: 87.5px; 
    }
    // 结缘时间
    .adoptTreeMess-modal-top-time {
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
    }
    // 结缘树木的人的名字和树种名称
    .adoptTreeMess-modal-top-name {
        text-align: center;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        color: #ffffff;
        font-weight: bold;
        margin-top: 12px;
        table-layout: fixed;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 72px;
    }
    // 养护信息的整体
    .adoptTreeMess-curingTaskType-layout {
        display:flex;
        flex-wrap:wrap;
    }
    // 养护类型的名称
    .adoptTreeMess-curingTaskTypeName {
        text-align: center;
        // font-family: "Microsoft YaHei";
        color: #ffffff;
    }
    // 各个类型的养护次数
    .adoptTreeMess-curingTaskTypeNum {
        text-align: center;
        // font-family: "Microsoft YaHei";
        color: #ffffff;
        // font-weight: bold;
    }
    // 苗木信息整体设置
    .adoptTreeMess-treeMess {
        // padding-top: 6px;
        padding-left: 10px;
        // padding-right: 20px;
        width: 365px;
    }
    // 养护详情整体设置
    .adoptTreeMess-curingTaskMess {
        // padding-top: 6px;
        padding-left: 20px;
        width: 395px;
    }

    // 苗木信息的每一行
    .adoptTreeMess-mrg10 {
        white-space: nowrap;
        width: 100%;
        margin-bottom: 15px;
        font-size: 13px;
    }
    // 养护详情的每一行
    .adoptTreeMess-mrg20 {
        white-space: nowrap;
        width: 100%;
        margin-bottom: 15px;
        font-size: 13px;
    }
    // 苗木信息的每一行中的标题
    .adoptTreeMess-lineTitle {
        vertical-align: middle;
        color: #1793ff;
        width: 56px;
        display: inline-block;
    }
    // 苗木的具体信息
    .adoptTreeMess-modal-data-text {
        // float: right;
        margin-left: 20px;
        vertical-align: middle;
        white-space: nowrap;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        // padding-top: 2px;
        display: inline-block;
    }
    // 养护详情中的养护类型
    .adoptTreeMess-table-type-data {
        vertical-align: middle;
        max-width: 65px;
        display: inline-block;
        min-width: 30px;
    }
    // 养护详情中的人员
    .adoptTreeMess-table-person-data {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        max-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50px;
    }
    // 养护详情中的时间
    .adoptTreeMess-table-time-data {
        vertical-align: middle;
        width: 65px;
    }
}
