.map-container {
    display: flex;
    position: absolute;
    top: 80px;
    // width: calc(~'100% - 160px');
    width: 100%;
    height: 100%;
    // height: calc(~'100% - 80px');
    // left: 160px;

    .r-main {
        flex: 1 1 auto;
        position: relative;
        overflow: hidden;
    }

    /* 解决树loading抖动问题 */
    .ant-tree li span.ant-tree-icon_loading {
        left: 20px;
        background-image: none;
    }
    .ant-tree-icon_loading + .ant-tree-title {
        margin-left: 20px;
    }
}

.map-containerFullScreen {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;

    .r-main {
        flex: 1 1 auto;
        position: relative;
        overflow: hidden;
    }

    /* 解决树loading抖动问题 */
    .ant-tree li span.ant-tree-icon_loading {
        left: 20px;
        background-image: none;
    }
    .ant-tree-icon_loading + .ant-tree-title {
        margin-left: 20px;
    }
}
.dashboard-map {
    position: relative;
    .leaflet-popup-content h2 {
        font-weight: 400 !important;
        font-size: 12px !important;
    }

    .dashboard-menuPanel {
        position: absolute;
        left: 330px;
        top: 40px;
        height: 80%;
        width: 260px;
        transition: all 0.3s;
        z-index: 980;

        .dashboard-aside {
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            bottom: 0;
            background-color: rgba(255,255,255, 0.9);
            color: #333;
            z-index: 999;
            overflow-x: hidden;
            overflow-y: auto;

            .dashboard-asideTree {
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    }
    #mapid {
        cursor: pointer;
    }

    /*现场人员*/
    .dashboard-peopleIcon {
        width: 21px !important;
        height: 26px !important;
        top: -5px;
        left: -4px;
        background-image: url('../ImageIcon/people.png');
        background-size: 100% 100%;
    }

    /*点击地图显示树图表*/
    .dashboard-treeIcon {
        width: 28px !important;
        height: 41px !important;
        top: -33px;
        left: -8px;
        background-image: url('../ImageIcon/tree.png');
        background-size: 100% 100%;
    }

    /*安全隐患质量缺陷*/
    .dashboard-riskQualityIcon {
        width: 21px !important;
        height: 26px !important;
        top: -5px;
        left: -4px;
        background-image: url('../RiskImg/quality.png');
        background-size: 100% 100%;
    }

    /*安全隐患安全隐患*/
    .dashboard-riskDangerIcon {
        width: 21px !important;
        height: 26px !important;
        top: -5px;
        left: -4px;
        background-image: url('../RiskImg/danger.png');
        background-size: 100% 100%;
    }

    /*安全隐患其他*/
    .dashboard-riskOtherIcon {
        width: 21px !important;
        height: 26px !important;
        top: -5px;
        left: -4px;
        background-image: url('../RiskImg/other.png');
        background-size: 100% 100%;
    }

    /*养护任务计划任务*/
    .dashboard-curingPlanTaskIcon {
        width: 25px !important;
        height: 25px !important;
        top: -13px;
        left: -6px;
        background-image: url('../ImageIcon/curingTask.png');
        background-size: 100% 100%;
    }

    /*养护任务实际任务*/
    .dashboard-curingTaskIcon {
        width: 25px !important;
        height: 25px !important;
        top: -13px;
        left: -6px;
        background-image: url('../ImageIcon/curingTask.png');
        background-size: 100% 100%;
    }
    .dashboard-distanceMeasure-icon{
        font-size:15px;
        background-color: #fff0;
        color: #e6f7ff;
        width: auto;
    }

    /*养护任务施肥*/
    .dashboard-curingTaskFeedImg {
        width: 25px !important;
        height: 25px !important;
        top: -13px;
        left: -6px;
        background-image: url('../CuringTaskImg/feed.png');
        background-size: 100% 100%;
    }

    /*养护任务排涝*/
    .dashboard-curingTaskDrainImg {
        width: 25px !important;
        height: 25px !important;
        top: -13px;
        left: -6px;
        background-image: url('../CuringTaskImg/drain.png');
        background-size: 100% 100%;
    }
    /*养护任务补植*/
    .dashboard-curingTaskReplantingImg {
        width: 25px !important;
        height: 25px !important;
        top: -13px;
        left: -6px;
        background-image: url('../CuringTaskImg/replanting.png');
        background-size: 100% 100%;
    }
    /*养护任务病虫害防治*/
    .dashboard-curingTaskWormImg {
        width: 25px !important;
        height: 25px !important;
        top: -13px;
        left: -6px;
        background-image: url('../CuringTaskImg/worm.png');
        background-size: 100% 100%;
    }
    /*养护任务修剪*/
    .dashboard-curingTaskTrimImg {
        width: 25px !important;
        height: 25px !important;
        top: -13px;
        left: -6px;
        background-image: url('../CuringTaskImg/trim.png');
        background-size: 100% 100%;
    }
    /*养护任务除草*/
    .dashboard-curingTaskWeedImg {
        width: 25px !important;
        height: 25px !important;
        top: -13px;
        left: -6px;
        background-image: url('../CuringTaskImg/weed.png');
        background-size: 100% 100%;
    }
    /*养护任务浇水*/
    .dashboard-curingTaskWatering {
        width: 25px !important;
        height: 25px !important;
        top: -13px;
        left: -6px;
        background-image: url('../CuringTaskImg/watering.png');
        background-size: 100% 100%;
    }
    /*养护任务其他*/
    .dashboard-curingTaskOther {
        width: 25px !important;
        height: 25px !important;
        top: -13px;
        left: -6px;
        background-image: url('../CuringTaskImg/other.png');
        background-size: 100% 100%;
    }

    /*苗木结缘*/
    .dashboard-adoptIcon {
        width: 24px !important;
        height: 24px !important;
        top: -6px;
        left: -6px;
        background-image: url('../ImageIcon/adopt.png');
        background-size: 100% 100%;
    }
    .dashboard-gisTypeBut {
        position: absolute;
        z-index: 960;
        top: 3px;
        right: 50px;
    }

    .dashboard-editPolygonLayout {
        position: absolute;
        z-index: 960;
        top: 40px;
        left: 600px;
    }
    .dashboard-areaMeasureLayout {
        position: absolute;
        z-index: 960;
        top: 40px;
        height: 32px;
        line-height: 32px;
        left: 835px;
        font-size: 20px;
        color: #333333;
        background-color: #fff;
    }

    .dashboard-menuSwitchSurvivalRateLayout {
        position: absolute;
        z-index: 960;
        top: 350px;
        right: 40px;
        width: 76px;
        height: 284px;
        display: block;
        background-image: url('../SurvivalRateImg/backGround.png');
    }
    .dashboard-rightMenuSurvivalRateImgLayout {
        margin-left: 18px;
        margin-top: -31px;
    }

    .dashboard-rightMenuSurvivalRateSelLayout {
        margin-bottom: 10px;
        display: inline-block;
        background-image: url('../SurvivalRateImg/select.png');
        background-size: 100% 100%;
        width: 18px;
        height: 18px;
        margin-left: 4px;
        margin-top: 6px;
    }

    .dashboard-rightMenuSurvivalRateUnSelLayout {
        margin-bottom: 10px;
        display: inline-block;
        background-image: url('../SurvivalRateImg/unSelect.png');
        background-size: 100% 100%;
        width: 18px;
        height: 18px;
        margin-left: 4px;
        margin-top: 6px;
    }

    .dashboard-menuSwitchRiskTypeLayout {
        position: absolute;
        z-index: 960;
        top: 350px;
        right: 40px;
        width: 122px;
        height: 122px;
        display: block;
        background-image: url('../RiskImg/background.png');
    }

    .dashboard-menuLabel {
        display: inline-block;
        position: relative;
        width: 56px;
        left: 7px;
        bottom: 13px;
    }

    .dashboard-menuLabel1 {
        display: inline-block;
        position: relative;
        width: 84px;
        left: 7px;
        bottom: 13px;
    }

    .dashboard-menuSwitchRiskTypeDataLayout {
        margin-top: 20px;
    }
    .dashboard-rightMenuRiskTypeImgLayout {
        margin-left: 14px;
        margin-top: -31px;
    }

    .dashboard-rightMenuRiskTypeSelLayout {
        margin-bottom: 10px;
        display: inline-block;
        background-image: url('../RiskImg/select.png');
        background-size: 100% 100%;
        width: 18px;
        height: 18px;
        margin-left: 4px;
        margin-top: 6px;
    }

    .dashboard-rightMenuRiskTypeUnSelLayout {
        margin-bottom: 10px;
        display: inline-block;
        background-image: url('../RiskImg/unSelect.png');
        background-size: 100% 100%;
        width: 18px;
        height: 18px;
        margin-left: 4px;
        margin-top: 6px;
    }

    .dashboard-menuSwitchCuringTaskTypeLayout {
        position: absolute;
        z-index: 960;
        top: 350px;
        right: 40px;
        width: 144px;
        height: 175px;
        display: block;
        background-image: url('../CuringTaskImg/background.png');
    }

    dashboard-menuSwitchCuringTaskTypeDataLayout {
        margin-top: 20px;
    }
    .dashboard-rightMenuCuringTaskTypeImgLayout {
        margin-left: 14px;
        margin-top: -31px;
    }

    .dashboard-rightMenuCuringTaskTypeSelLayout {
        margin-bottom: 10px;
        display: inline-block;
        background-image: url('../CuringTaskImg/select.png');
        background-size: 100% 100%;
        width: 18px;
        height: 18px;
        margin-left: 4px;
        margin-top: 6px;
    }

    .dashboard-rightMenuCuringTaskTypeUnSelLayout {
        margin-bottom: 10px;
        display: inline-block;
        background-image: url('../CuringTaskImg/unSelect.png');
        background-size: 100% 100%;
        width: 18px;
        height: 18px;
        margin-left: 4px;
        margin-top: 6px;
    }

    .dashboard-menuSwitchTreePipeLayout {
        position: absolute;
        z-index: 960;
        top: 350px;
        right: 40px;
        width: 225px;
        height: 200px;
        display: block;
        background-image: url('../RiskImg/background.png');
    }
    .dashboard-menuSwitchTreePipeBorder {
        border-bottom: 1px dashed #000;
        width: 205px;
    }

    .ant-tree li .ant-tree-iconEle {
        width: 16px;
        height: 16px;
    }

    .ant-tree-iconEle {
        // background: url("./ImageIcon/people.png") no-repeat;
        background-size: cover;
    }

    .tr-people .ant-tree-iconEle {
        background-image: url('../ImageIcon/people.png');
    }

    .tr-hazard .ant-tree-iconEle {
        background-image: url('../ImageIcon/risk.png');
    }

    .tr-area .ant-tree-iconEle {
        background-image: url('../ImageIcon/area.png');
    }

    /*弹出框样式*/
    .popupBox h2 span {
        color: #0078a8;
    }

    .btnRow {
        text-align: center;
        margin-top: 5px;
    }

    .btnViewRisk,
    .btnViewTrack {
        display: inline-block;
        color: #fff !important;
        border-radius: 4px;
        background-color: #108ee9;
        border-color: #108ee9;
        padding: 0 20px;
        line-height: 24px;
        text-decoration: none;
        margin-left: 12px;
    }
    .btnViewAdopt {
        display: inline-block;
        color: #fff !important;
        border-radius: 4px;
        background-color: #108ee9;
        border-color: #108ee9;
        padding: 0 20px;
        line-height: 24px;
        text-decoration: none;
        margin-left: 37px;
    }

    .btnViewTrack:hover {
        background-color: #49a9ee;
        border-color: #49a9ee;
        text-decoration: none;
    }

    /*修改菜单边距*/
    .aside .ant-collapse-content {
        padding: 0 8px;
    }
    // 小班细班树
    .dashboard-rightAreaMenu {
        position: absolute;
        right: 120px;
        top: 40px;
        height: 80%;
        width: 260px;
        transition: all 0.3s;
        z-index: 980;

        .dashboard-rightAreaMenu-aside {
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            bottom: 0;
            background-color: rgba(255,255,255, 0.9);
            color: #333;
            z-index: 999;
            overflow-x: hidden;
            overflow-y: auto;

            .dashboard-rightAreaMenu-areaTree {
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    }

    //视图管理模块
    // 整体菜单的位置
    .dashboard-rightInitialPositionMenu {
        position: absolute;
        right: 120px;
        top: 40px;
        height: 600px;
        width: 230px;
        transition: all 0.3s;
        z-index: 980;
        // 视图管理模块整体菜单的UI数据设置
        .dashboard-rightInitialPositionMenu-aside {
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            bottom: 0;
            background-color: rgba(255,255,255, 0.9);
            color: #333;
            z-index: 999;
            overflow-x: hidden;
            overflow-y: auto;
            // 整体菜单的内部实际数据
            .dashboard-rightInitialPositionMenu-areaTree {
                margin-top: 10px;
                margin-left: 20px;
                height: calc(~'100% - 10px');
            }
            // 视图管理的高度设置
            .dashboard-rightInitialPositionMenu-viewList {
                height: calc(~'100% - 60px');
                display: block;
                overflow-y: auto;
                // 区域地块的视图管理标题
                .dashboard-rightInitialPositionMenu-areaViewTitle {
                    height: 30px;
                    font-family: "Microsoft YaHei";
                    font-weight: bold;
                    font-size: 16px;
                }
                // 区域地块的视图数据
                .dashboard-rightInitialPositionMenu-areaViewData {
                    height: 40px;
                    display: block;
                    text-align: center;
                    width: 190px;
                    margin-bottom: 10px;
                    font-family: "Microsoft YaHei";
                    font-size: 14px;
                }
                // 区域地块视图按钮名字过长隐藏的设置
                .dashboard-rightInitialPositionMenu-areaViewData-button {
                    vertical-align: middle;
                    white-space: nowrap;
                    max-width: 190px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    height: 40px;
                }
                // 自定义视图的标题
                .dashboard-rightInitialPositionMenu-customViewTitle {
                    height: 30px;
                    font-family: "Microsoft YaHei";
                    font-weight: bold;
                    font-size: 16px;
                    margin-top: 20px;
                }
                // 未选中  自定义视图的每行的设置
                .dashboard-rightInitialPositionMenu-customViewData-Unselect {
                    height: 40px;
                    line-height: 40px;
                    display: block;
                    text-align: center;
                    width: 190px;
                    margin-bottom: 10px;
                    font-family: "Microsoft YaHei";
                    font-size: 14px;
                    background-color: #fff; // 背景的颜色
                }
                // 未选中 自定义视图的a标签的设置
                .dashboard-rightInitialPositionMenu-customViewData-ALabel-Unselect {
                    width: calc(~'100% - 50px');
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    color: #333333; // 文字的颜色
                    vertical-align: middle;
                    white-space: nowrap;
                    max-width: 158px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-left: 15px;
                    margin-right: 15px;
                }
                // 选中  自定义视图的每行的设置
                .dashboard-rightInitialPositionMenu-customViewData-Select {
                    height: 40px;
                    line-height: 40px;
                    display: block;
                    text-align: center;
                    width: 190px;
                    margin-bottom: 10px;
                    font-family: "Microsoft YaHei";
                    font-size: 14px;
                    background-color: #1793ff; // 背景的颜色
                }
                // 选中 自定义视图的a标签的设置
                .dashboard-rightInitialPositionMenu-customViewData-ALabel-Select {
                    width: calc(~"100% - 50px");
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    color: #ffffff; // 文字的颜色
                    vertical-align: middle;
                    white-space: nowrap;
                    max-width: 158px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-left: 15px;
                    margin-right: 15px;
                }
                // 自定义视图的删除图片的设置
                .dashboard-rightInitialPositionMenu-customViewData-deleteImg {
                    margin-right: 12px; 
                    cursor: pointer;
                }
            }
            // 保存当前视图的按钮设置
            .dashboard-rightInitialPositionMenu-footerButton {
                height: 40px;
                display: block;
                text-align: center;
                width: 190px;
                // margin-left: 20px;
                // margin-right: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    // 数据测量模块模块
    // 数据测量菜单的位置
    .dashboard-rightDataMeasureMenu {
        position: absolute;
        right: 120px;
        top: 192px;
        height: 104px;
        width: 54px;
        transition: all 0.3s;
        z-index: 980;
        // 数据测量模块整体菜单的UI数据设置
        .dashboard-rightDataMeasureMenu-aside {
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            bottom: 0;
            background-color: rgba(255,255,255, 0.9);
            color: #333;
            z-index: 999;
            overflow-x: hidden;
            overflow-y: hidden;

            // 未选中  数据测量图片的背景
            .dashboard-rightDataMeasureMenu-back-Unselect {
                height: 44px;
                line-height: 44px;
                display: block;
                text-align: center;
                width: 44px;
                margin: 5px;
                background-color: #fff; // 背景的颜色
            }
            // 选中  数据测量图片的背景
            .dashboard-rightDataMeasureMenu-back-Select {
                height: 40px;
                line-height: 40px;
                display: block;
                text-align: center;
                width: 44px;
                margin: 5px;
                background-color: #1793ff; // 背景的颜色
            }
            // 数据测量图片的设置
            .dashboard-rightDataMeasureMenu-clickImg {
                cursor: pointer;
            }
        }
    }
}
