* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: white;
}

.mui-title,
.mui-icon {
    color: white;
}

.mui-content {
    background-color: white;
}

.mui-bar-nav {
    z-index: 2022;
    background: #07c8a2;
}

.mui-bar {
    height: 50px;
}

.mui-title {
    line-height: 50px;
}

.mui-bar .mui-icon {
    padding-top: 15px;
    padding-bottom: 15px;
}

.acceptanceBtn {
    margin: 10px 0;
    width: 100%;
}

.acceptanceBtn .mui-btn {
    margin: auto;
    display: block;
    width: 140px;
    height: 34px;
    margin: 10px auto;
    background-image: url(../img/btn.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 14px;
    border: none;
}

.acceptanceBtn a {
    text-decoration: none;
    color: white;
    display: block;
}

.map {
    border-radius: 4px;
    height: 180px;
    width: calc(100% - 30px);
    overflow: hidden;
    margin: 15px;
}

.mui-table-view-cell:after {
    height: 0 !important;
}

.mui-popover .mui-table-view {
    min-height: 337px;
}

.firstLi {
    font-size: 14px;
    padding: 0;
    height: 65px !important;
}

.firstLi .labelName,
.firstLi .val {
    font-weight: 550;
    color: #111;
}

.applyList {
    padding: 0 15px;
    width: calc(100% -30px);
    margin: 10px 0 0 0;
}

.applyList li {
    height: 54px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.applyList li div,
.applyList li label {
    float: left;
}

.applyList li label {
    width: 56px;
    text-align: justify;
    font-size: 14px;
    line-height: 54px;
    color: #666666;
}

.applyList .arrow {
    width: 25px;
    height: 100%;
    background-image: url(../img/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.rightText {
    text-align: right;
    color: #bbb;
    font-size: 14px;
    line-height: 54px;
    width: calc(100% - 81px);
}

.rightText a {
    list-style: none;
    text-decoration: none;
    color: #bbb;
    display: block;
}

.mui-popover {
    width: 80%;
    left: 10% !important;
    top: 100px !important;
    height: 350px;
    z-index: 2022221;
}

.mui-popover .mui-popover-arrow {
    display: none;
}

.mui-popover li {
    padding: 0 !important;
}

.mui-popover li label {
    padding-top: 15px;
}

.notesMain {
    height: 128px !important;
    width: 100%;
    border-bottom: none !important;
}

.notesMain textarea {
    background-color: #F5F5F5;
}

:-moz-placeholder {
    font-size: 14px;
    color: #ddd;
}

::-moz-placeholder {
    font-size: 14px;
    color: #ddd;
}

textarea:-ms-input-placeholder {
    font-size: 14px;
    color: #ddd;
}

textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #ddd;
}

.notes {
    line-height: 40px !important;
}

.notesMain textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.picBox {
    margin: 0 0 0 15px;
    width: calc(100% - 30px);
    height: auto;
    overflow: hidden;
}

.picList {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    background-color: #111;
    margin: 10px 10px 10px 0;
    float: left;
}

.uploadPic {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    background-image: url(../img/upload.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-top: 10px;
}


/*添加记录*/

.addRecordUl {
    margin-top: -15px !important;
}

.submitContent {
    width: 80%;
    margin: 100px 0 0 10%;
    height: auto;
    background-color: white;
    border-radius: 4px;
    padding: 0 0 10px 0;
    position: relative;
}

.mui-backdrop {
    z-index: 202222;
}

.submitMain {
    display: none;
}

.submitContent .mui-btn {
    margin: auto;
    display: block;
    width: 140px;
    height: 34px;
    margin: 10px auto;
    background-image: url(../img/btn.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 14px;
}

.ploceholderName {
    padding: 10px;
    line-height: 32px;
    font-size: 14px;
    overflow: hidden;
}

.name {
    float: left;
    width: calc(100% - 55px);
}

.ploceholderName .arrow {
    width: 25px;
    height: 32px;
    background-image: url(../img/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    float: right;
    margin-right: 10px;
}

.jlName {
    width: 90%;
    height: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    left: 5%;
    top: 45px;
    z-index: 9999;
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    line-height: 32px;
    display: none;
}

.weui_uploader_input_wrp:before {
    width: 2px;
    height: 39.5px;
}

.weui_uploader_input_wrp:after {
    width: 39.5px;
    height: 2px;
}

.weui_uploader_input_wrp:before,
.weui_uploader_input_wrp:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #D9D9D9;
}

.weui_uploader_input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.locationBtn{
	position:absolute;
	top:195px;
	left:25px;
	z-index: 22018;
	border-radius:50%;
	width:32px;
	height:32px;
	background-color: white;
	box-shadow:0 2px 2px #919187;
	line-height: 32px;
	text-align: center;
	color:#15c99d;
}