*{
	margin:0;
	padding:0;
	list-style: none;
}
body{
	background-color: white;
}
.mui-title,.mui-icon{
	color:white;
}
.mui-bar-nav~.mui-content{
	padding:50px 0 0 0;
}
.mui-content{
	background-color: white;
}
.mui-bar-nav {
	z-index: 2022;
	background: #07c8a2;
}

.mui-bar {
	height: 50px;
}

.mui-title {
	line-height: 50px;
}

.mui-bar .mui-icon {
	padding-top: 15px;
	padding-bottom: 15px;
}
.listMain .mui-table-view-cell{
	overflow: hidden;
	min-height: 55px;
	height:auto;
	padding:0;
	position: relative;
}
.listMain .label{
	font-size:14px;
	float:left;
	width:70px;
	margin: 0 0 0  15px !important;
	color:#666;
	line-height:55px;
}
.listMain  .labelVal{
	width:calc(100% - 100px);
	font-size: 14px;
	font-weight: 550;
	display: block;
	position: absolute;
	right:15px;
	text-align: right;
}
.mui-table-view:before,.mui-table-view:after{
	background-color: rgba(0,0,0,.0);
}
.mui-table-view-cell:after{
	right:15px;
}
.mui-table-view-cell:after{
	height:1px !important;
}

.processMain{
	width:100%;
	height:115px;
	overflow: hidden;
	margin:10px 0 0 0 ;
	padding:0 10px;
}
.processMain .line,.processMain .submitBox,.processMain .acceptanceBox{
	float: left;
	height:100%;
}
.processMain .circular{
	width:32px;
	height:32px;
	background-image: url(../img/one.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.processMain .circular_1{
	width:32px;
	height:32px;
	background-image: url(../img/two_2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0 0 0 18px;
}

.processMain .acceptanceBox{
	width: 50px;
	text-align: right;
}
.processMain .submitBox{
	width:50px;
	text-align: left;
}
.processMain .line{
	width:calc(100% - 120px);
	height: 50%;
	border-top:1px  #23cb98 solid;
	margin:16px 0 0 0;
}

.acceptanceBtn{
	margin:10px 0;
	width:100%;
}
.acceptanceBtn .mui-btn{
	margin:auto;
	display: block;
	width:140px;
	height:34px;
	margin:10px auto;
	background-image: url(../img/btn.png);
	background-position: center;
	background-repeat: no-repeat;
	border-radius:4px;
	text-align: center;
	line-height: 21px;
	color:white;
	font-size: 14px;
	border:none;
}
.attachment{
	color:#00A8FE;
	text-decoration:underline;
}
.labelText{
	margin:15px 0 0 15px;
	color:#666;
	font-size: 12px;
}
.labelContent{
	color:#111;
	margin:0px 0 0 15px;
	font-size: 12px;
	line-height: 20px;
}
.processMain p{
	margin:0 !important;
	line-height: 24px;
}
.unit{
	font-size: 12px;
	color:#666;
}
.name{
	font-size: 14px;
	color:#111;
}
.type{
	font-size: 14px;
	color:#00A8FE;
}
