*{
	margin:0;
	padding:0;
	list-style: none;
}
body{
	background-color: white;
}
.mui-title,.mui-icon{
	color:white;
}
.mui-bar-nav~.mui-content{
	padding:65px 15px 15px 15px;
	background-color: white;
}
.mui-bar-nav {
	z-index: 2022;
	background: #07c8a2;
}

.mui-bar {
	height: 50px;
}

.mui-title {
	line-height: 50px;
}

.mui-bar .mui-icon {
	padding-top: 15px;
	padding-bottom: 15px;
}

.map{
	border-radius:4px;
	height:180px;
	width:100%;
	overflow: hidden;
}


.listMain{
	margin:15px 0 0 0;
}
.labelName{
	color:#111;
	font-weight: 550;
}
.firstLi p{
	line-height: 27px;
}
.listMain .mui-table-view-cell{
	overflow: hidden;
	min-height: 55px;
	height:auto;
	padding:0;
	position: relative;
}
.listMain .label{
	font-size:14px;
	float:left;
	width:70px;
	margin: 0 0 0  0 !important;
	color:#666;
	line-height:55px;
}
.changeLi .label{
	line-height: 80px !important;
}

.listMain  .labelVal{
	width:calc(100% - 130px);
	font-size: 14px;
	font-weight: 550;
	top:19px;
	display: block;
	position: absolute;
	left:70px;
	text-align: left;
}
.picBox{
	width:54px;
	height:54px;
	border-radius:4px;
	background-color: #333;
	float: right;
}
.changeLi{
	height:80px !important;
}
.mui-table-view:before,.mui-table-view:after{
	background-color: rgba(0,0,0,.0);
}
.mui-table-view-cell:after{
	height:1px !important;
	right:0px;
	left:0;
}

.processMain{
	width:100%;
	height:115px;
	overflow: hidden;
	margin:10px 0 0 0 ;
	padding:0 10px;
}
.processMain .line,.processMain .submitBox,.processMain .acceptanceBox{
	float: left;
	height:100%;
}
.processMain .circular{
	width:32px;
	height:32px;
	background-image: url(../img/one.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.processMain .circular_1{
	width:32px;
	height:32px;
	background-image: url(../img/two_2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0 0 0 18px;
}

.processMain .acceptanceBox{
	width: 50px;
	text-align: right;
}
.processMain .submitBox{
	width:50px;
	text-align: left;
}
.processMain .line{
	width:calc(100% - 120px);
	height: 50%;
	border-top:1px  #23cb98 solid;
	margin:16px 0 0 0;
}
.acceptanceBtn{
	margin:10px 0;
	width:100%;
	overflow: hidden;
}
.acceptanceBtn .mui-btn{
	float: left;
	margin:10px 5px;
	display: block;
	width:120px;
	height:34px;
	background-image: url(../img/btn.png);
	background-position: center;
	background-repeat: no-repeat;
	border-radius:4px;
	text-align: center;
	line-height: 21px;
	color:white;
	font-size: 14px;
}

.zgrBtn{
	margin:10px 0;
	width:100%;
}
.zgrBtn .mui-btn{
	margin:auto;
	display: block;
	width:140px;
	height:34px;
	margin:10px auto;
	background-image: url(../img/btn.png);
	background-position: center;
	background-repeat: no-repeat;
	border-radius:4px;
	text-align: center;
	line-height: 21px;
	color:white;
	font-size: 14px;
}
.attachment{
	color:#00A8FE;
	text-decoration:underline;
}
.labelText{
	margin:15px 0 0 15px;
	color:#666;
	font-size: 12px;
}
.labelContent{
	color:#111;
	margin:0px 0 0 15px;
	font-size: 12px;
	line-height: 20px;
}
.processMain p{
	margin:0 !important;
	line-height: 24px;
}
.unit{
	font-size: 12px;
	color:#666;
}
.name{
	font-size: 14px;
	color:#111;
}
.submitBox .type{
	font-size: 14px;
	color:#07C8A2;
}
.acceptanceBox .type{
	font-size: 14px;
	color:#FCB816;
}

.flowMain{
	width:calc(100% - 10px);
	height:auto;
	margin:20px 0 0 0;
	padding:5px;
	border-radius:2px;
	box-shadow:0 4px 4px #eae9e9 ;
}
.flowMain textarea{
	margin:10px 0 0 0;
	border:none;
	
}
.flowMain textarea::-webkit-input-placeholder { /* WebKit browsers */
　　color:#BBBBBB;
	font-size: 14px;
}
.flowMain textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#BBBBBB;
	font-size: 14px;
}
.flowMain textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#BBBBBB;
	font-size: 14px;
}
.flowMain textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#BBBBBB;
	font-size: 14px;
}
.flowMain .time{
	font-size:12px;
	color:#BBBBBB;
}
.submitter .notPassed{
	float: right;
	color:#FF0000;
}
.submitter{
	font-size: 14px;
	overflow: hidden;
}
.submitter div{
	float: left;
}
.submitter .type{
	float: right;
}
.labelName{
	color:#BBBBBB;
	font-size: 14px;
	font-weight: 200;
}
.imgPic{
	width:100%;
	height:auto;
	overflow: hidden;
	margin:0 0 10px 0;
}
.imgPic li{
	height:72px;
	width:72px;
	border-radius:4px;
	float: left;
	margin:5px;
}
.imgPic img{
	width:100%;
	height:100%;
}
.flowMain p{
	color:#BBBBBB;
}

.flowMain .picBox{
	width:100%;
	height:auto;
	overflow: hidden;
	background-color: white;
}
.flowMain .picList{
	width:54px;
	height:54px;
	border-radius:4px;
	background-color: #111;
	margin:10px 10px 10px 0;
	float: left;
}
.flowMain .uploadPic{
	width:54px;
	height:54px;
	border-radius:4px;
	background-image: url(../img/upload.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 10px;
}






/*待审核*/
.gray{
	color:#BBBBBB;
}
/*待审核*/
.gray{
	color:#BBBBBB;
}



.submitContent{
	width:80%;
	margin:100px 0 0  10% ;
	height:auto;
	background-color: white;
	border-radius:4px;
	padding: 0 0 10px 0;
	position:relative;
}
.mui-backdrop{
	z-index: 202222;
}
.submitMain{
	display:none;
}

.submitContent .mui-btn{
	margin:auto;
	display: block;
	width:140px;
	height:34px;
	margin:10px auto;
	background-image: url(../img/btn.png);
	background-position: center;
	background-repeat: no-repeat;
	border-radius:4px;
	text-align: center;
	line-height: 21px;
	color:white;
	font-size: 14px;
}
.ploceholderName{
	padding:10px;
	line-height: 32px;
	font-size: 14px;
	overflow: hidden;
}
.name{
	float: left;
	width:calc(100% - 55px);
}
.ploceholderName .arrow{
	width:25px;
	height:32px;
	background-image: url(../img/arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	float: right;
	margin-right: 10px;
}
.jlName{
	width:90%;
	height:auto;
	background-color: white;
	border: 1px solid #ccc;
	border-radius:4px;
	position:absolute;
	left: 5%;
	top:45px;
	z-index: 9999;
	text-align: left;
	padding-left: 10px;
	font-size: 14px;
	line-height: 32px;
	display: none;
}
