


.login-wrap {
  width: 100%;
  height: 100%;
  background: url(./images/bg_06.png) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;

  .login-footer {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    background: unset;
    padding: 5px 0px;
    font-size: 12px;
    color: white;
    font-family: Arial;
    text-align: center;
    line-height: 30px;
  }

  .loginState-box{
    margin: 0% auto 0;
    display: block;
    text-align: center;


    .radio .ant-radio-button-wrapper{
      width:50%;
    }
  }
  
  .main-center{
    width:1158px;
    height: 540px;
    min-height:479px;
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
 .main-on{
   width: 900px;
   height: 900px;
  position: absolute;
  left: -405px;
  top:-536px;
  z-index: 100;
  background: url(./images/bg_04.png)no-repeat;
 }
 .main-at{
  width: 360px;
  height: 360px;
  position: absolute;
  right: -190px;
  z-index: 100;  
  top: -180px;
  background: url(./images/bg_03.png)no-repeat;
 }
  .main-logo{
    margin-top: 1%;
    margin-top: 10px;
    float: left;
    position: relative;
  }
  .main-logos{
    width: 770px;
    height:506px;
  }

  .main-box {
    float: left;
    position: relative;
  }
  .main-img{
    width: 388px;
    height: 571px;
    background: url(./images/float.png)no-repeat;
    background-size:cover;
  }

  .picture-box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    display: block;
    text-align: center;
    height:200px;
    background:white;

    
  }

  .login-title1 {
    position: absolute;
    left: -105px;
    top: -130px;
    width: 300px;
    display: block;
    overflow: hidden;
    img {
      width: 30%;
      max-width: 50%;
      display: block;
      margin: 0 auto;
    }
  }
  .login-title {
    position: absolute;
    right:-160px;
    top: -30px;
    width: 300px;
    display: block;
    overflow: hidden;
    img {
      width: 30%;
      max-width: 50%;
      display: block;
      margin: 0 auto;
    }
  }

  .login-form {
    width: 100%;
    height:540px;
    padding:0 10%;
    display: table;
    line-height: 4;
    .ant-form-item {
      margin-bottom: 0;
      width: 85%;
    }

    .ant-input-group {
      width: 100%;
      display: table;
      position: relative;
      border-bottom: solid 1px rgba(255, 255, 255, .4);
      padding: 18px 0 18px 48px;
    }

    .ant-form-item-control.has-error .ant-input-group {
      border-color: #ff7200;
    }

    .ant-input-group-addon {
      height: 32px;
      display: block;
      padding: 0;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -16px;
      border: none;
      border-right: dashed 1px rgba(255, 255, 255, .5);
      background-color: transparent;
      background-size: 32px 32px;
      background-position: 1px center;
      background-repeat: no-repeat;
    }
  }

  .has-error .ant-input-group-addon {
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .ant-input {
    width: 100%;
    height: 32px;
    padding: 5px 0 5px 20px;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    vertical-align: middle;
    background: none;
    border: none;
    outline: none;
    &:focus {
      box-shadow: none;
    }
  }

  .ant-checkbox-inner {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-size: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 0 0 0 0;

    &:after {
      left: 5px;
      top: 2px;
    }
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner {
  }

  .btn-change-type {
    width: 28px;
    height: 28px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: -263px;
    top: 59%;
    margin-top: -14px;
    cursor: pointer;
    z-index: 5;
  }
  .ant-checkbox {
    margin-top: -3px;
  }

  .ant-form-explain {
    font-size: 12px;
    // line-height: 72px;
    color: red;
    //color: #ff7200;
    // white-space: nowrap;
    // position: absolute;
    // left: 18%;
    // top: 82%;
    // //left: 100%;
    // //top: 50%;
    // margin: -16px 0 0 5px;
    // padding-left: 20px;
    // background: url(./images/icon_warn.png) no-repeat left center;
  }

  .ant-checkbox-wrapper {
    display: inline-block;
    overflow: hidden;
    margin: 16px 0 0 16px;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    float: left;
  }
  .forgetPassword{
    // width: 100px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    color: red;
    display: inline-block;
    cursor: pointer;
    margin: 16px 0 0px;
    top: 0px;
    float: right;
  }

  .login-form-button {
    width: 88%;
    height: 45px;
    display: block;
    margin: 40px auto 0;
    text-align: center;
    background: #007fee;
    font-size: 18px;
    line-height: 45px;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 0;
  }

  .foot-login {
    background: none;
    text-align: center;
    width: 100%;
    height: 76px;
    display: table;
    padding: 20px 0 16px;
    z-index: 10;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, .6);
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .foot-login div:first-child {
    width: auto;
    float: none;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial;
  }

  .foot-login div:last-child {
    width: auto;
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    line-height: 40px;
    margin-left: 13px;
  }

  .foot-login a {
    color: rgba(255, 255, 255, .6);
  }
 
  .Imgtitle{
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 50px auto  20px;
    img{
      display: block;
      width: 27.5%;;
      max-width: 50%;
      margin: 0 auto;
    }
  }    
  
  .security-code-type {
    width: 70px;
    text-align: center;
    height: 15px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: -260px;
    top: 0%;
    cursor: pointer;
    z-index: 5;
  } 
  .security-code-status {
    width: 80px;
    text-align: center;
    height: 15px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: -260px;
    top: 0%;
    cursor: auto;
    z-index: 5;
  }
  
}





  