.CuringTaskTree-button {
    display: inline-block;
    width: 220px;
}

.CuringTaskTree-button-layout {
    width: 105px;
    margin-bottom: 10px;
}

.CuringTaskTree-mrg10 {
	white-space: nowrap;
    width: 220px;
    margin-bottom: 20px;
}

.CuringTaskTree-statis-layout {
	white-space: nowrap;
    width: 100%;
    margin-bottom: 10px;
    border-bottom:1px dashed #8c8383; 
    padding-bottom: 10px;
    width: 220px;
}

.CuringTaskTree-data-text {
    float: right;
    // margin-right: 23px;
}

.dashboard-menuPanel {
    position: absolute;
    left: 330px;
    top: 40px;
    height: 80%;
    width: 260px;
    transition: all 0.3s;
    z-index: 980;

    .dashboard-aside {
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba(255,255,255, 0.9);
        color: #333;
        z-index: 999;
        overflow-x: hidden;
        overflow-y: auto;

        .dashboard-asideTree {
            margin-top: 20px;
            margin-left: 20px;
        }
    }
}
.dashboard-menuSwitchCuringTaskTypeLayout {
    position: absolute;
    z-index: 960;
    top: 350px;
    right: 40px;
    width: 144px;
    height: 175px;
    display: block;
    background-image: url('../../CuringTaskImg/background.png');
}
.dashboard-menuLabel1 {
    display: inline-block;
    position: relative;
    width: 84px;
    left: 7px;
    bottom: 13px;
}
.dashboard-rightMenuCuringTaskTypeImgLayout {
    margin-left: 14px;
    margin-top: -31px;
}
.dashboard-rightMenuCuringTaskTypeSelLayout {
    margin-bottom: 10px;
    display: inline-block;
    background-image: url('../../CuringTaskImg/select.png');
    background-size: 100% 100%;
    width: 18px;
    height: 18px;
    margin-left: 4px;
    margin-top: 6px;
}
.dashboard-rightMenuCuringTaskTypeUnSelLayout {
    margin-bottom: 10px;
    display: inline-block;
    background-image: url('../../CuringTaskImg/unSelect.png');
    background-size: 100% 100%;
    width: 18px;
    height: 18px;
    margin-left: 4px;
    margin-top: 6px;
}