
.box{
    text-align: center;
    // display: none;
    // width:60%;
    // height:300px;
    // float:left;
    // width: 500px;
    position: relative;
    // background-color: #f666ff;
    .firstVideo{
    }
    .firstIcon{
        display: block;
        position: absolute;
        top: 0; bottom: 0; 
        left: 0; 
        right: 0; 
        margin: auto;
    }
}
.box1{
    text-align: center;
    // display: none;
    // width:60%;
    // height:300px;
    // float:left;
    // width: 500px;
    position: relative;
    background-color:#ffffff;
    .firstVideo{
    }
    .firstIcon{
        display: none;
        position: absolute;
        top: 0; bottom: 0; 
        left: 0; 
        right: 0; 
        margin: auto;
    }
}

