*{margin: 0; padding: 0;}
html,body{width: 100%; height: 100%;}
/*初始遮盖*/
.cover{position:absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; z-index: 9999999; background-color: white;}
.cover div{position:absolute; top: 50%;left: 50%; margin:-120px 0 0 -166px; }
/* 按钮 */
.d_measure{width: 60px; height: 60px; margin-left: 6px;cursor: pointer; float: left; text-align: center; border-radius: 0.5em;}
.d_measure>img{width: 32px;height: 32px; margin-top: 4px;}
.d_measure:hover{background-color: #dedede;}
.d_measure_sel{background-color: #dedede;}
/*右侧布局*/
.d_fpdbTop{width: 100%; height: 180px;}
.d_fpdbBottom{position: absolute; left: 3px; right: 3px; top: 165px; bottom: 3px;}

/* .t_list{width: 100%; border: 1px solid #95B8E7;} */
/* .t_list tr{border: 1px solid #95B8E7;} */


table.t_list {
    width: 100%;
    height: auto;
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	color:#333333;
	border-width: 1px;
	border-color: #95B8E7;
    border-collapse: collapse;
    word-break:break-all;
    text-align: center;
}
table.t_list th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #95B8E7;
	background-color: #dedede;
}
table.t_list td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #95B8E7;
	background-color: #ffffff;
}

