// 数据测量模块模块
// 数据测量菜单的位置
.AreaDistanceMeasure-rightDataMeasureMenu {
    display: flex;
    position: absolute;
    right: 120px;
    top: 184px;
    height: 128px;
    width: 64px;
    transition: all 0.3s;
    z-index: 980;
    // 数据测量模块整体菜单的UI数据设置
    .AreaDistanceMeasure-rightDataMeasureMenu-aside {
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        bottom: 0;
        color: #333;
        z-index: 999;
        overflow-x: hidden;
        overflow-y: hidden;
        background: rgba(19,34,36,0.8);

        // 未选中  数据测量图片的背景
        .AreaDistanceMeasure-rightDataMeasureMenu-back-Unselect {
            height: 64px;
            width: 64px;
            line-height: 64px;
            display: block;
            text-align: center;
        }
        // 选中  数据测量图片的背景
        .AreaDistanceMeasure-rightDataMeasureMenu-back-Select {
            height: 64px;
            width: 64px;
            line-height: 64px;
            display: block;
            text-align: center;
        }
        // 数据测量图片的设置
        .AreaDistanceMeasure-rightDataMeasureMenu-clickImg {
            cursor: pointer;
        }
    }
}


.AreaDistanceMeasure-editPolygonLayout {
    position: absolute;
    z-index: 960;
    top: 40px;
    left: 600px;
}
.AreaDistanceMeasure-areaMeasureLayout {
    position: absolute;
    z-index: 960;
    top: 40px;
    height: 32px;
    line-height: 32px;
    left: 835px;
    font-size: 20px;
    color: #333333;
    background-color: #fff;
}

.AreaDistanceMeasure-measureNumLayout {
    position: absolute;
    z-index: 960;
    top: 45px;
    right: calc(~'50% - 200px');;
    width:400px;
    height:60px;

    .AreaDistanceMeasure-measureNumText {
        background-image: url("./MeasureImg/pop-ups.png");
        width: 100%;
        height: 100%;
        font-size:16px;
        font-family:Source Han Sans CN;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:60px;
        display: block;
        text-align: center;
        opacity:0.8;
    }
}