.foresttable {
	padding:5px 0;
	.ant-table-thead > tr > th {
		text-align: center;
		padding: 5px 1px;
	}
	.ant-table-tbody > tr > td {
		text-align: center;
		padding: 5px 1px;
	}
}
.forest-search-layout {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.forest-search-layout :global(.ant-select) {
	display: inline-block;
}
.forest-quryrstcnt {
	font-size: 18px;
}
.forest-mrg10 {
	white-space: nowrap;
	margin: 10px 10px 10px 0px;
	width: 220px;
}
.forest-mrg20 {
	white-space: nowrap;
	margin: 10px 10px 10px 0px;
	width: 450px;
}

.forest-mrg-datePicker {
	white-space: nowrap;
	margin: 10px 10px 10px 0px;
	width: 430px;
}
// 规格查询两个字的
.forest-mrg-standard2 {
	white-space: nowrap;
	margin: 10px 10px 10px 0px;
	width: 302px;
}
.forest-mrg-standard2 :global(.ant-input-group.ant-input-group-compact) {
	display: inline-block;
	zoom: 1;
}

// 规格查询两个字的
.forest-mrg-standard4 {
	white-space: nowrap;
	margin: 10px 10px 10px 0px;
	width: 302px;
}
.forest-mrg-standard4 :global(.ant-input-group.ant-input-group-compact) {
	display: inline-block;
	zoom: 1;
}
// 4个字
.forest-search-span {
	width: 80px;
	display: inline-block;
	text-align: right;
}
/* 四个字，一个输入框*/
.forest-forestcalcw4 {
	width: calc(~"100% - 80px") !important;
}
.forest-mrg-datePicker6 {
	white-space: nowrap;
	margin: 10px 10px 10px 0px;
	width: 447px;
}
// 6个字
.forest-search-span6 {
	width: 97px;
	display: inline-block;
	text-align: right;
}
/* 6个字，一个输入框*/
.forest-forestcalcw6 {
	width: calc(~"100% - 97px") !important;
}
/* 两个字，一个输入框*/
.forest-forestcalcw2 {
	width: calc(~"100% - 46px") !important;  
}

/* 数据统计的内容*/
.forest-DataStatis {
	padding: 0; 
	.forest-DataStatis :global(.ant-select) {
		display: inline-block;
	}
}
// 移栽信息7个字
.forest-search-transplant-span7 {
	width: 135px;
	display: inline-block;
	text-align: right;
}
.forest-forestcalcw7 {
	width: calc(~"100% - 135px") !important;
}