
.dgnbox{
	height: 362px;
}

.dgndbboxmark{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1010;
	top: 0;
	left: 0;
	border: none;
}
.dgndbboxLeft{
	padding: 4px;
	margin-left:14px;
	position: absolute;
	z-index: 1100;
	top: 94px;
	width: 38px;
	height: 185px;
}
.dgndbboxFill{
	position: absolute;
	z-index: 1101;
	top: 0px;
	right: 4px;
	width: 100%;
	height: 100%;
}

.show{
	display: block;
}

.hidden{
	display: none;
}
.dgndbboxRight{
	position: absolute;
	z-index: 1101;
	top: 94px;
	right: 14px;
	width: 230px;
	max-height: 600px;
	height:630px;
/*		text-align: center;*/
		  /*background-color:rgba(255,0,0,0.5);*/
}
.dgndbboxRightBotton{
	position: absolute;
	z-index: 1101;
	top: 68px;
	right: 14px;
	width: 30px;
	height: 30px;
	background-color: #84a2d4;
	color:#fff;
	font-size: 1.2em;

}
.dgndbboxRightBotton button{
	height: 20px;
	line-height: 20px;
	width:20px;
	display: inline-block;
	border: 1px solid white;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.IconBox{
	position: relative;
	z-index: 1020;
	width: 100%;
	height: 100%;
	text-align: center;
}
.ListBox{
	position: relative;
	z-index: 1020;
	width: 100%;
	height: 100%;

/*	text-align: center;*/
}
.fill{
	position: relative;
	z-index: 1021;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #fff
}
.fill button{
	height: 20px;
	line-height: 20px;
	width:20px;
	display: inline-block;
	border: 1px solid #666;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

/*.funIcon .a{
	display: inline-block;
	margin: 10px;
	cursor: pointer;
}*/
.fullIcon{
	height: 38px;
	padding: 4px;
	background-color: #f2f1f3;
	width: 100% ;
	z-index: 1020;

}

/*.fullIcon .a{
	display: inline-block;
	cursor: pointer;
		margin: 10px;
}*/
.gap{
	display: inline-block;
	width: 0;
	height: 28px;
	margin: 0 8px;
	border-right: 1px solid #C3BABA;
}
.toolIcon{
	width:24px;
	height:24px;
	background: url(./dgnicon.png) no-repeat;
	background-position: 0 0;
	display: inline-block;
	margin: 1px;
	background-size: 792px 52px;
}

.toolIcon:hover{
	border-bottom: solid 1px #000;
	background-color: #cacaca;
}

/*选择对象*/
.pickElement{
	background-position: 0 0;
}
/*放大*/
.OnZoomIn{
	background-position: -24px 0;
}
/*缩小*/
.OnZoomOut{
	background-position: -48px 0;
}
/*全局视图*/
.OnWindowView{
	background-position: -72px 0;
}
/*窗口放大*/
.OnFitView{
	background-position: -96px 0;
}
/*旋转视图*/
.OnRotateView{
	background-position: -120px 0;
}
/*顶视图*/
.OnStandardTopView{
	background-position: -144px 0;
}
/*前视图*/
.OnStandardFrontView{
	background-position: -168px 0;
}
/*左视图*/
.OnStandardLeftView{
	background-position: -192px 0;
}
/*轴测视图*/
.OnStandardISOView{
	background-position: -216px 0;
}
/*平移视图*/
.OnPanView{
	background-position: -240px 0;
}
/*前一视图*/
.OnUndoView{
	background-position: -264px 0;
}
/*后一视图*/
.OnRedoView{
	background-position: -288px 0;
}
/*剪切视图on*/
.DynamicViewOn{
	background-position: -312px 0;
}
/*剪切视图off*/
.DynamicViewOff{
	background-position: -312px -24px;
}

/*增加剪切高度*/
.CutHeightUp{
	background-position: -336px 0;
}
/*降低剪切高度*/
.CutHeightDown{
	background-position: -360px 0;
}
/*打开对象*/
.dgndbOpenTag{
	background-position: -384px 0;
}
/*单显*/
.ShowHideElements0{
	background-position: -408px 0;
}
/*取消单显*/
.ShowHideElements2{
	background-position: -408px -24px;
}
/*隐藏*/
.ShowHideElements1{
	background-position: -432px 0;
}
/*取消隐藏*/
.ShowHideElements3{
	background-position: -432px -24px;
}
/*全部显示*/
.dgndbShowElements{
	background-position: -456px 0;
}
/*构造元素*/
.CreatElementsOn{
	background-position: -480px 0;
}
/*构造元素off*/
.CreatElementsOff{
	background-position: -480px -24px;
}
/*相机开关on*/
.CameraSwitchOn{
	background-position: -504px 0;
}
/*相机开关off*/
.CameraSwitchOff{
	background-position: -504px -24px;
}
/*保存视图*/
.firedgndbevent{
	background-position: -528px 0;
}
/*定位on*/
.MarkElementsOn{
	background-position: -552px 0;
}
/*定位off*/
.MarkElementsOff{
	background-position: -552px -24px;
}
/*行走漫游*/
.OnWalkView{
	background-position: -576px 0;
}
/*测距*/
.OnMeasureDistance{
	background-position: -600px 0;
}
/*线框渲染*/
.ds_wireframe{
	background-position: -624px 0;
}
/*消隐线渲染*/
.ds_hidden{
	background-position: -648px 0;
}
/*削皮渲染on*/
.PeelOn{
	background-position: -672px 0;
}/*削皮渲染off*/
.PeelOff{
	background-position: -672px -24px;
}

/*实体渲染*/
.ds_smooth{
	background-position: -696px 0;
}
/*实体线渲染*/
.ds_illustration{
	background-position: -720px 0;
}
/*透明渲染on*/
.TransparenSwitchtOn{
	background-position: -744px 0;
}
/*透明渲染off*/
.TransparenSwitchtOff{
	background-position: -744px -24px;
}